.products {
    //border: 5px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    // row-gap: 20px;
    // column-gap: 20px;

    align-items: center;
}
.card {
    padding: 10px;
    border: 1px solid #dacece;
    max-width: 328px;
    img {
        width: 100%;
    }
}
.p-content{
         width: 239.25px;
        height: 30px;
        //styleName: h5;
        font-family: Montserrat;
        font-size: 23px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
}
.i-sec {
    justify-content: space-between;
    display: flex;
    flex-direction: row;

    .button {
        padding: 20px 50px;
        background: rgb(95, 88, 88);
        margin: 70px;
        color: rgb(157, 106, 11);
        border-radius: 10px;
    }
}


@media (max-width: 599px){
    .products{
        .card{
            max-width: none;
            width: 90%;
           // border: 2px solid red;
        }
    }
}