<div class="location-sec">
    <div class="loc-content">
        <h3><b>90 Days Return</b></h3>
        <h5>5the Avenue, E 28th St, <br>Brooklyn NY, 2300 USA</h5>
    </div>
    <div class="loc-content">
        <h3><b>Free Delivery</b></h3>
        <h5>5the Avenue, E 28th St, <br>London, 57th UK</h5>
    </div>
    <div class="loc-content">
        <h3><b>Secure Payment</b></h3>
        <h5>5the Avenue, E 28th St, <br>Paris, 2300 Paris</h5>
    </div>
    <div class="loc-content">
        <h3><b>100% Free Warranty</b></h3>
        <h5>5the Avenue, E 28th St, <br>Khalid bin Street, UAE</h5>
    </div>
</div>
