h1{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    padding-bottom: 15px;
}
h2{
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    padding-bottom: 15px;
}
.email{
    display: flex;
    width: 24px;
    height: 24px;
    gap: 8px;
    opacity: 0px;

}
.menus{
    display: flex;
    width: Fixed (944px)px;
    height: Fixed (239px)px;
    gap: 99px;
    opacity: 0px;

}
.frame200{
    display: flex;
    width: Fixed (944px)px;
    height: Fixed (239px)px;
    gap: 99px;
    opacity: 0px;

}
.footer2{
    display: flex;
    justify-content: space-between;
    width: Fixed (1,024px)px;
    height: Fixed (80px)px;
    padding: 100px 40px 100px 40px;
    gap: 60px;
    opacity: 0px;

    
}
.list-footer2{
    display: flex;
    justify-content: space-between;
    width: Hug (228px)px;
    height: Hug (21px)px;
    gap: 36px;
    opacity: 0px;

}
.footer{
    margin: 0 auto;
    width: Fixed (944px)px;
    height: Fixed (239px)px;
    gap: 99px;
    opacity: 0px;

}
.footerv1{
    width: Fixed (1,389px)px;
    height: Hug (419px)px;
    padding: 80px 61px 100px 132px;
    gap: 60px;

}
.frame135{
    width: Hug (240px)px;
    height: Hug (174px)px;
}
.logo{

    font-family: Montserrat;
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #2B303A;

}
.Text{
    padding-top: 20px;
    width: Hug (240px)px;
    height: Hug (60px)px;
    gap: 16px;

}
.contact{
    padding-top: 50px;
    width: Hug (188px)px;
    height: Hug (24px)px;
    gap: 12px;
    opacity: 0px;

}

.menus1{
    font-family: Roboto;
}
.list{
    padding-top: 20px ;

}

@media (max-width: 599px) {
        .footerv2{
            margin-top: 800px;
            position:absolute;
            left:10px;
            gap: 2px;
            p{
                font-size: x-small;
            }
        }
    
        .frame200 {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        .menus {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .footer2 {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
    }
}
