<!-- <div class="container">
    <div class="sub-container">
        <div class="navbar">
            <div class="logo">
                <img src="../../../../assets/images/img-2/logo.png" alt="">    
            </div>
            <nav class="menus">
                <a href="#Home"><B>Home</B></a>
                <a href="#">Lifestyle</a>
                <a href="#">Travel</a>
                <a href="#">Fashion</a>
                <a href="#">Gallary</a>
                <a href="#">Contact</a>
                <a href="#">...</a>
            </nav>
            <div class="icon-sec">
                <a href="#">Loging</a>
                <a href="#">Register</a>
        
                <div class="i-con">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <a href="#">EN</a>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="sub-container">
        <a href="#" class="logo">
            <img src="../../../../assets/images/img-2/logo.png" alt="">
        </a>
        <i class="fa-solid fa-bars"></i>
        <ul class="navbar">
            <a href="#home">Home</a>
            <a href="#lifestyle">Lifestyle</a>
            <a href="#travel">Travel</a>
            <a href="#fashion">Fashion</a>
            <a href="#gallary">Gallary</a>
        </ul>
        <div class="i-con">  
           <i class="fa-solid fa-magnifying-glass"></i>
            <a href="#">EN</a>
        </div>
    </div>
</div>