.sub-container{
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 18px 100px;
    border: 2px solid green;
}
.logo img {
    width: 50px;
    height: 50px;
}
.navbar{
    display: flex;
}
.navbar a{
    padding: 8px 17px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    border-radius: 0.2rem;
    background-color: aqua;
    color: rgb(20, 8, 243);
    transition: 0.2;
}
.i-con{
    padding: 8px 17px;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    gap: 2rem;
}
i{
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1050px) {
    .navbar{
        padding: 16px 60px;
    }
    
}
@media screen and (max-width: 599px) {
    .navbar{
        padding: 12px 4%;
    }
    i{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: -570px;

    }
    .i-con{
        a{
            display: none;
        }
    }

}