
.text-deco {
    padding: 40px;
    text-align: center;
    width: Fill (1,145px)px;
    height: Hug (90px)px;
     gap: 30px; 
}
@media(max-width: 599px){
    .text-deco{
         width: Fill (328px)px;
        height: Hug (83px)px;
        gap: 16px;
    }
    h1{
        width: 328px;
        height: 37px;
        font-family: Roboto;
        font-size: 31px;
        font-weight: 900;
        line-height: 37.2px;
        text-align: center;
    }
    p{
        width: Fill (328px)px;
        height: Hug (30px)px;
        gap: 16px;

    }
}